@{
    ViewBag.Title = "My Todo List";
}

<header>
    <h1>@ViewBag.Title</h1>
    <link href="~/selectExample.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">



        function someMethod(sth) {
            var dropdown = $("[name=" + sth.name + "]");
            if (dropdown.val().length > 1) {

                dropdown.css("font-size", "30px");
                dropdown.css("padding-left", "10px");
            } else {

                dropdown.css("font-size", "50px");
                dropdown.css("padding-left", "25px");
            }
        }
    </script>
</header>

<div id="main-content">
    
        <p class="error" data-bind="text: error"></p>
        
   
        <button data-bind="click: addSlot">Add Slot</button>
    
        <form data-bind="submit: doSomething">
            <div data-bind="foreach: slots" style="height:100px">
                
                    <select  data-bind="options: value, uniqueName: true" class="mainselection" onchange="javascript:someMethod(this);"></select>
                
            </div>

            <input type="text" />
            <br />
            <button data-bind="">Let's Cheat!</button>
        </form>
        <div style="background-color: yellow" id="diff">
            <ul data-bind="foreach: wordList">
                <li>
                    <span data-bind="text: word"></span>
                    <span data-bind="text: point"></span> pts
                </li>
            </ul>
        </div>
    
   
</div>

@if (true)
{
    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/todo")
    }
}